/* color pallet 
light grey: #C3BCBD
light blue: #699FBC
dark grey: #6F778B
dark blue: #14295B
pink: #B16467
*/

.nav-underline .nav-link {
    font-family: 'Avenir', 'Arial', sans-serif;
    color: #14295B;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
  }
  
  .nav-underline .nav-link:hover,
  .nav-underline .nav-link:focus {
    border-bottom-color: #14295B;
  }
  
  .nav-underline .nav-link.active {
    color: #14295B;
    border-bottom-color: #14295B;
  }

  .icon-link {
    font-size: large;
    text-decoration: none;
    margin-right: .5rem;
    margin-top: .5rem;
}

p {
  font-family: 'Avenir', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rockwell', 'Georgia', serif;
}

.custom-btn {
  background-color: #699FBC;
  border-color: #699FBC;
  color: white;
}

.custom-btn:hover {
  background-color: #5589a8;
  border-color: #5589a8;
}

.contact-text {
  font-size: 1.1rem;
}

.jumbo-junmai {
  background: #B4D2E7;
}

.jumbo-nigori {
  background: #E7B4A9;
  color: white;
}

.class {
  color: rgb(108, 117, 125)
}