<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0">
        <span class="text-body-secondary">© <span id="currentYear"></span> Satori Sake Brewing, LLC</span>
      </div>
  
      <div class="col-md-4 d-flex justify-content-center mb-4 mb-md-0">
        <a href="/" class="text-body-secondary text-decoration-none lh-1">
          <img src="../images/logo-icon.png" alt="Satori logo" height="50">
        </a>
      </div>
  
      <ul class="nav col-md-4 justify-content-center justify-content-md-end list-unstyled d-flex mb-0">
        <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/satorisakebrewing/"><img src="../images/instagram_grey.svg" alt="Instagram logo" height="20"></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="mailto:shin@satorisakebrewing.com"><img src="../images/envelope_grey.svg" alt="Mail icon" height="20"></a></li>
      </ul>
    </footer>
  </div>